.tools {
  outline: 0;
  grid-gap: 8px;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  color: rgba(0, 0, 0, 0.34);
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;

  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.22);

  margin-left: 7px;
  margin-top: 7px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.22);
    transform: translate(1px,1px);
  }
  &:focus-visible{
    outline-offset: 1px;
  }
}

.tools-active {
  outline: 0;
  grid-gap: 8px;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  color: rgba(0, 0, 0, 0.34);
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;

  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.22);

  margin-left: 6px;
  margin-top: 6px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.39);
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.22);
    transform: translate(1px,1px);
  }
  &:focus-visible{
    outline-offset: 1px;
  }
}


.tools-inverse {
  outline: 0;
  grid-gap: 8px;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  color: rgba(0, 0, 0, 0.34);
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;

  margin-left: 5px;
  margin-top: 5px;

  border: 1px solid rgba(0, 0, 0, 0.39);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.22);

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.39);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.22);
    transform: translate(-1px,-1px);
  }
  &:focus-visible{
    outline-offset: 1px;
  }
}

.tools-static {
  color: rgba(0, 0, 0, 0.34);
  border: 1px solid rgba(0, 0, 0, 0.34);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.tools-wrap {
  border: 1px solid rgba(var(--v-theme-border));
  box-shadow: 1px 1px 0 rgba(var(--v-theme-border));
  background: rgba(255, 255, 255, 0.32);
}